{% extends 'portfolio/base.html' %}

{% block title %}Juan José Hoyos{% endblock %}


{% block content %}
<!--Profile-->
<div class="image">
    <div class="row">
        <div class="col">
            <h1 class="text-center"><strong>Juan José Hoyos Urcué</strong></h1>
            <h5 class="text-center text-primary">9° semester student of Computer and Systems Engineering at Javeriana
                Cali
                University</h5>
            <h5 class="text-center text-primary"><a href="mailto:hege@example.com">juanjohupuj@javerianacali.edu.co</a>
            </h5>
            <h5 class="text-center text-primary"><a href="tel:123-456-7890">+57 315 772 92 87</a></h5>
        </div>
    </div>

    <div class="row text-center">
        <div class="col">
            {% load static %}
            <img src="{% static 'portfolio/dWcdIe4.jpeg' %}" style="width: 290px; height: 350px;" class="rounded"
                alt="">
        </div>

        <div class="col">
            <div class="card">
                <div class="card-header">
                    Profile
                </div>
                <div class="card-body">
                    <blockquote class="blockquote mb-0">
                        <p class="text-justify">I am passionate about optimizing production
                            processes in
                            companies and contributing to their growth. Using
                            data analysis, I can find patterns, projections and even predictions that are innately
                            invisible
                            in the
                            data, I convert data into information and information into knowledge, which I can take to
                            productive
                            environments where it is useful, assisting in making decisions whit scientific base </p>
                    </blockquote>
                </div>
            </div>
        </div>
    </div>
</div>


{% endblock %}