{% extends 'portfolio/base.html' %}

{% block title %}Juan Jose Hoyos{% endblock %}


{% block content %}
<div class="row">
    <div class="col">
        <a href="{% url 'blog:all_blogs' %}">Blog</a><br>
        {% load static %}
        <a href="{% static 'portfolio/cv.pdf' %}">Resume</a>
        <h1>Hello portfolio</h1>
        {% load static %}
        <img src="{% static 'portfolio/home_background.jpeg' %}" alt="imagen home">
        {% for p in projects %}
            <h2>{{ p.title }}</h2>
            <h3>{{ p.description }}</h3>
            <img src="{{ p.image.url }}" alt="">

        {% endfor%}
    </div>
</div>
{% endblock %}